
<div class="main">
  <h3>Healthy Recipes</h3>
</div>


<h4>Recipes</h4>
<% @recipe.each do |recipe| %>

<li>
  <%= link_to recipe.title, recipe %>
</li>
<% end %><br>

<%= button_to "New Recipes", new_recipe_path, method: :get %>
