
<div class="main">
  <h1>Healthy Recipes</h1>
</div>


<h4>Recipes</h4>
<% @recipe.each do |recipe| %>

<li>
  <%= link_to recipe.title, recipe %>
</li>
<% end %><br>

<%= link_to "Create a Recipe", new_recipe_path %>
