
<div id="front">
  <h1 id="tagline">Eat Healthy. Be Happy</h1>
</div>

<% if current_user %>
  <%= button_to "add a recipe", new_recipe_path, method: :get %>
<% else %>
<%  end %>

  <ul>
    <% @recipe.each do |recipe| %>
        <div class="photo">
        <!-- mms: Good job with an image as a link -->
        <%= link_to(image_tag(recipe.photo_url), recipe) %>
        <!-- <%= link_to recipe.title, recipe %> -->
        </div>
    <% end %>
  </ul>
