/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */


  @import "bootstrap-sprockets";
  @import "bootstrap";

// mms: some of this should move into recipes.css

// mms: watch your indentation
.navbar .navbar-nav {
  padding: 15px;
}
.container{
  background-color: #FFA07A;
  padding: inherit;
  width: auto;
  line-height: normal;
  padding:inherit;
}

.navbar header{
  text-align: center;
}

.recipe-photo {
  width: 600px;
  // padding-left: 10px;
}

#front{
  background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRyuAfWAIjWQhZEtqrrJs2ku_2dSJULtpNiWd0Yy2fhZrKEBTJNUg);
  background-size: cover;
  background-position: 50%;
  width:auto;
  padding: 10%;
  line-height:10%;
  display: flex;
  margin-bottom: 25%;
}

div{
  display:block;
}
#tagline{
  font-size: 80px;
}

img{
  float: right;
}

h1{
  text-align: center;
}

.button{
display: inline-block;
padding: 25px;
position: absolute; bottom: 0;

}

#info{
  border-style: solid; color: black;
  vertical-align: baseline;
}
.rt{
  border-style: solid; color: black;
  width: 10%;
  display: flex;
  padding: 17px;
}

.photo{
  width: auto;
  margin-bottom: 30%;
  padding: 50px;


}
